{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "bw.resource.jdbc.cb7e653d-9324-4189-92ca-e7b786083a08",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}